<div class="container">
  <p class="breadcrumbs">
  <%= link_to("Guidelines", guidelines_path) %>
  <%= @category ? link_to(" / #{@category[:title]}", guideline_category_path(@category[:slug])) : nil %>
  <%= @article ? link_to(
    " / #{ @article[:title]}",
    guideline_article_path(
      @category[:slug],
      @article[:slug])
  ) : nil %>
  </p>
</div>

<% if @article.present? %>
   <%= render html: MarkdownHelper.to_html(@article[:md_path]) %>
<% elsif @category.present? %>
  <%= render partial: "shared/guideline_category", locals: {
    slug: @category[:slug],
    title: @category[:title],
    description: @category[:description],
    svg_filename: @category[:svg_filename],
    articles: @category.values.select do |value|
      value.is_a?(Hash) && !value[:is_metadata]
    end
  } %>
<% elsif @guidelines.present? %>
  <%= render partial: "shared/guideline_index", locals: {
    title: @guidelines[:title],
    description: @guidelines[:description],
    svg_filename: @guidelines[:svg_filename],
    children: @guidelines.values.select do |value|
      value.is_a?(Hash) && !value[:is_metadata]
    end
  }%>
<% end %>
