<div class="d-none d-md-block py-3">
  <!-- Vertical spacing for md and larger screens -->
  <br>
</div>

<div class="text-center container pt-5">
  <p class="cover-heading font-weight-900">
    <%= t(".hero.header.before_underline") %><span class="lives"><%= t(".hero.header.underline") %></span><%= t(".hero.header.after_underline") %>
  </p>
  <p class="cover-lead">
    <%= t(".hero.text") %>
  </p>
  <a role="button" class="btn btn-danger btn-lg px-4 mt-3 mb-5 shadow" href="#apply">
    <%= t(".hero.cta") %>
  </a>
</div>

<div class="d-none d-md-block py-2">
  <!-- Vertical spacing for md and larger screens -->
  <br>
</div>

<div class="row mx-0">
  <div class="col-md-12 d-flex text-center justify-content-center pt-5 pb-4">
    <!-- Dimensions are %60 of 1137 518.05664 -->
    <!-- This's needed to render correctly on iOS -->
    <%= inline_svg_tag "graphics/home/undraw_best_place_r685.svg", width: '682px', height: '310px', class: 'm-auto' %>
  </div>
  <div class="col-md-12">
    <p class="section-title text-center">
      <%= t(".intro.header.before_bold") %>
      <span class="font-weight-bold"> <%= t(".intro.header.bold") %> </span>
      <%= t(".intro.header.after_bold") %>
    </p>
  </div>
</div>

<div class="text-center container pb-4">
  <p class="cover-lead">
    <%= t(".intro.text") %>
  </p>
</div>

<div class="row pt-5 mt-5 mb-5 mx-0">
  <div class="col-md-12">
    <p class="section-title text-center">
      <%= t(".section-titles.steps") %>
    </p>
  </div>
</div>

<div class="row mb-5 mx-0">
  <div class="col-md-6 offset-md-1">
    <p class="cover-lead">
      <i class="fas fa-dot-circle mr-2"></i>
      <a class="red-link" href="#apply">
        <%= t(".steps.1") %>
        <i class="fas fa-arrow-right ml-2"></i>
      </a>
    </p>
    <p class="cover-lead text-secondary">
      <i class="fas fa-circle mr-2 text-secondary"></i>
      <%= t(".steps.2") %>
    </p>
    <p class="cover-lead text-secondary">
      <i class="fas fa-circle mr-2 text-secondary"></i>
      <%= t(".steps.3") %>
    </p>
    <p class="cover-lead text-secondary">
      <i class="fas fa-circle mr-2 text-secondary"></i>
      <%= t(".steps.4") %>
    </p>
  </div>
  <div class="col-md-4 d-flex text-center justify-content-center">
    <%= inline_svg_tag "graphics/home/undraw_check_boxes_m3d0.svg", size: '200', class: 'm-auto' %>
  </div>
</div>

<div class="row pt-5 mt-5 mx-0">
  <div class="col-md-12">
    <p class="section-title text-center">
      <%= t(".section-titles.roles") %>
    </p>
  </div>
</div>

<%= render partial: "home/blob", locals: {
  title:  t(".elderly_crews_title"),
  description:  t(".elderly_crews_description"),
  hero_image_name: "undraw_collab_8oes_modified",
  badges: [:mobile],
} %>

<%= render partial: "home/blob", locals: {
  title:  t(".coordination_crews_title"),
  description:  t(".coordination_crews_description"),
  hero_image_name: "undraw_conference_call_b0w6",
  badges: [:remote],
} %>

<%= render partial: "home/blob", locals: {
  title:  t(".aid_crews_title"),
  description:  t(".aid_crews_description"),
  hero_image_name: "undraw_baby_ja7a",
  badges: [:mobile, :coming_soon],
} %>

<%= render partial: "home/blob", locals: {
  title:  t(".triage_crews_title"),
  description:  t(".triage_crews_description"),
  hero_image_name: "undraw_video_call_kxyp",
  badges: [:remote, :coming_soon],
} %>

<%= render partial: "home/blob", locals: {
  title:  t(".hospital_crews_title"),
  description:  t(".hospital_crews_description"),
  hero_image_name: "undraw_doctors_hwty",
  badges: [:at_hospitals, :requires_immunity, :coming_soon],
} %>

<%= render partial: "home/blob", locals: {
  title:  t(".research_ambassadors_title"),
  description:  t(".research_ambassadors_description"),
  hero_image_name: "undraw_medical_research_qg4d",
  badges: [:remote, :requires_credentials, :coming_soon],
} %>

<div class="row pt-5 mt-5 mb-5 mx-0">
  <div class="col-md-12">
    <p class="section-title text-center">
      <%= t(".section-titles.form") %>
    </p>
  </div>
</div>

<div class="section">
  <div class="offset-md-2 col-md-8 px-0 pb-5">
    <div id="apply" class="card shadow">
      <div class="card-header d-flex align-items-center justify-content-between pb-0">
        <div class="cover-lead font-weight-bold">
          <p>
            <%= t(".form.header") %>
          </p>
        </div>
      </div>
      <div class="card-body bg-light">
        <!-- /#apply is used to retain form errors and scroll to the form in case of errors -->
        <%= render partial: 'volunteers/form',
                   locals: {
                     volunteer: @volunteer,
                     countries: @countries_collection,
                     states: @states_collection,
                     cities: @cities_collection,
                     volunteer_crews: @volunteer_crews
                   }
        %>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-block py-3">
  <!-- Vertical spacing for md and larger screens -->
  <br>
</div>

<%= javascript_pack_tag 'location_selector', 'data-turbolinks-track': 'reload' %>
