<div class="text-center container py-5">
  <p class="cover-heading">You can save <span class="lives">lives</span>. </p>
  <p class="cover-lead">
    Let us help tackling the coronavirus pandemic with fewer deaths.
  </p>
  <a role="button" class="btn btn-danger btn-lg px-4 mt-3 mb-5 shadow" href="#apply">
    Volunteer
  </a>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-baby fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">
        Healthcare Crews
      </span>
      <span style="font-size: 10pt" class="badge badge-primary align-middle">mobile</span>
    </p>
    <p>
      Many doctors and nurses not only care about their patients but also their pets, babies or old parents at home. Take care of healthcare workers dependents by visiting their homes. You will help the workers by allowing them to work longer with higher motivation. We need them, and they need you.
    </p>
  </div>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-shopping-basket fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">
        Elderly Crews
      </span>
      <span style="font-size: 10pt" class="badge badge-primary align-middle">mobile</span>
    </p>
    <p>
      There are around 140 studies published about COVID-19 every day. Reviewing these studies are crucial in determining the best treatments. However, the medical doctors in the field are not even able to sleep at their homes. Join our international research team to distil the most recent literature and provide scientifically-proven actionable guidelines for doctors around the world.


    </p>
  </div>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-viruses fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">
        Research Ambassadors
      </span>
      <span style="font-size: 10pt" class="badge badge-success align-middle">at home</span>
      <span style="font-size: 10pt" class="badge badge-warning align-middle">requires credentials</span>
    </p>
    <p>
      There are around 140 studies published about COVID-19 every day. Reviewing these studies are crucial in determining the best treatments. However, the medical doctors in the field are not even able to sleep at their homes. Join our international research team to distil the most recent literature and provide scientifically-proven actionable guidelines for doctors around the world.
    </p>
  </div>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-stethoscope fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">Operation Crews</span>
      <span style="font-size: 10pt" class="badge badge-success align-middle">at home</span>
    </p>
    <p>
      COVID-19 patients with mild symptoms are instructed to treat themselves at home isolation. Most of them are unable to judge their condition and lack the required knowledge not to infect their households. Equip yourself with adequate knowledge, a thermometer and an oximeter to visit patients at their homes. Report the situations of those in critical condition to your community team.
    </p>
  </div>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-stethoscope fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">Triage Crews</span>
      <span style="font-size: 10pt" class="badge badge-success align-middle">at home</span>
      <small style="font-size: 10pt" >or</small>
      <span style="font-size: 10pt" class="badge badge-primary align-middle">mobile</span>
      <span style="font-size: 10pt" class="badge badge-dark align-middle">requires immunity</span>
    </p>
    <p>
      COVID-19 patients with mild symptoms are instructed to treat themselves at home isolation. Most of them are unable to judge their condition and lack the required knowledge not to infect their households. Equip yourself with adequate knowledge, a thermometer and an oximeter to visit patients at their homes. Report the situations of those in critical condition to your community team.
    </p>
  </div>
</div>

<div class="row my-4 mx-0">
  <div class="col-md-2 d-flex text-center justify-content-center">
    <i class="fas fa-hands-helping fa-3x text-muted m-auto"></i>
  </div>
  <div class="col-md-10">
    <p class="cover-lead font-weight-bold">
      <span class="mr-2 align-middle">Hospital Crews</span>
      <span style="font-size: 10pt" class="badge badge-danger align-middle">at hospitals</span>
      <span style="font-size: 10pt" class="badge badge-dark align-middle">requires immunity</span>
    </p>
    <p>
      Nurses and other hospital staff work 24/7 for months during pandemics. This unsustainable work demand decreases the quality of medical care and costs lives. Join a group of volunteers at your local hospital to help medical staff. Ease the lives of the heroes of our time.
    </p>
  </div>
</div>

<div class="offset-md-2 col-md-8 px-0 py-5">
  <div id="apply" class="card shadow">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="cover-lead font-weight-bold">
        <p>Apply for volunteering</p>
      </div>
    </div>
    <div class="card-body bg-light">
      <!-- /#apply is used to retain form errors and scroll to the form in case of errors -->
      <%= simple_form_for @volunteer, url: '/#apply', method: :post do |f| %>
        <%= f.input :country, collection: @countries_collection, prompt: "Choose your country", label: false %>

        <%= f.input :state, label: false, collection: [], input_html: {hidden: true} %>

        <%= f.input :city, label: false, collection: [], input_html: {hidden: true} %>

        <%= f.input :name, label: false, required: true, input_html: {oninvalid: "this.setCustomValidity('What is your name?')", oninput: "setCustomValidity('')"} %>

        <%= f.input :email, label: false, input_html: { autocomplete: 'email' }, input_html: {minlength: 7, oninvalid: "this.setCustomValidity('What is your email address?')", oninput: "setCustomValidity('')"} %>

        <%= f.input :phone, label: false, input_html: { autocomplete: 'tel' }, input_html: {minlength: 7, oninvalid: "setCustomValidity('What is your phone number?')", oninput: "setCustomValidity('')"} %>

        <%= f.input :about, label: false, as: :text, input_html: {minlength: 20, oninvalid: "setCustomValidity('How would you like to help?')", oninput: "setCustomValidity('')"} %>

        <%= f.input :immunity, as: :radio_buttons, :collection => [ ['Yes', true], ['No', false] ], :checked => ['No', false] %>

        <%= f.button :submit, "Apply", id: 'volunteer_submit', class: "btn-danger btn-block btn-lg font-weight-bold shadow" %>
      <% end %>
    </div>
  </div>
</div>  

<%= javascript_pack_tag 'location_selector', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "theme" %>