<div class="text-center container pb-5">
  <p class="section-title font-weight-bold">
    <%= t(".header") %>
  </p>
  <p class="subtitle">
    <%= t(".subheader") %>
  </p>
</div>
<div class="offset-md-2 col-md-8 px-0 pb-5">
  <div id="hospital-submit" class="card shadow">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="subtitle font-weight-bold">
        <p>
          <%= t(".form.header") %>
        </p>
      </div>
    </div>
    <div class="card-body bg-light">
      <form accept-charset="UTF-8" action='/api/hospital' method='POST'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class='form-group'>
          <select class='form-control select w-100' id='hospital_country' name='country'>
            <option value='none' selected disabled hidden>
            <%= t(".form.defaults.country") %>
            </option>
            <% @countries_collection.each do |country| %>
              <option value=<%= country[1] %>><%= country[0] %></option>
            <% end %>
          </select>
        </div>

        <div class='form-group'>
          <select class='form-control select' id='hospital_state' name='state' hidden='true'>
          </select>
        </div>

        <div class='form-group'>
          <select class='form-control select' id='hospital_city' hidden='true' name='city'>
          </select>
        </div>

        <div class='form-group'>
          <input
            type='text'
            name='hospital_name'
            class='form-control string'
            placeholder='<%= t(".form.defaults.hospital_name") %>'
          />
        </div>

        <div class='form-group'>
          <input
            type='text'
            name='contact_name'
            class='form-control string'
            placeholder='<%= t(".form.defaults.contact_name") %>'
            />
        </div>

        <div class='form-group'>
          <input
            type='text'
            name='contact_email'
            class='form-control string'
            placeholder='<%= t(".form.defaults.contact_email") %>'
          />
        </div>

        <button class="btn btn-danger btn-block btn-lg font-weight-bold shadow" type='submit'>
            <%= t(".form.cta") %>
        </button>
      </form>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'location_selector', 'data-turbolinks-track': 'reload', defer: true %>
