<!DOCTYPE html>
<html>
  <head>
    <title>Pandemic Volunteers</title>
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= render 'layouts/shared/opengraph' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex w-100 h-100 mx-auto flex-column center-block">
      <header class="masthead mb-auto bg-light">
        <div class="cover-container m-auto">
        <div class="inner center-block">
          <h3 class="nav masthead-brand justify-content-center py-3 ">
            <%= inline_svg_tag "logo/logo.svg", size: '1.2em', class: 'mr-2' %>
            Pandemic Volunteers
          </h3>
          <!--
          <nav class="nav nav-masthead justify-content-center py-3">
            <a class="text-danger mx-3 nav-link active" href="#">Hospitals</a>
            <a class="text-danger mx-3 nav-link" href="/partners/new">Partners</a>
            <a class="text-danger mx-3 nav-link" href="#">FAQ</a>
          </nav>
          -->
        </div>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
          <%= yield %>
        </div>
      </main>

      <footer class="mastfoot mt-auto py-4 px-4 bg-light">
        <div class="inner text-center">
          <div class="cover-container m-auto">
            <div class="row">
              <div class="col-md-8">
                <div class="row my-2">
                  <p class="w-100 m-auto text-muted">
                    <small>
                      Pandemic Volunteers is an international humanitarian medical NGO in the works.
                    </small>
                  </p>
                  <!--
                  <p class="w-100 m-auto mx-3">
                    <small>
                      <strong class="mr-4">
                        <a href="#" style="color: black">
                          About Pandemic Volunteers
                        </a>
                      </strong>
                      <strong>
                        <a href="#" style="color: black">
                          Terms of Service
                        </a>
                      </strong>
                      <strong class="ml-4">
                        <a href="#" style="color: black">
                          Privacy Policy
                        </a>
                      </strong>
                    </small>
                  </p>
                  -->
                </div>
              </div>
              <div class="m-auto col-md-4 center-block">
                <div class="row my-2 justify-content-center align-middle">
                  <p class="m-auto w-100">
                    <a href="https://twitter.com/PandemicVolntrs" target="_blank" style="color: black; text-decoration: none;">
                      <i class="fab fa-twitter fa-2x mr-2"></i>
                    </a>
                    <a href="https://facebook.com/PandemicVolunteers" target="_blank" style="color: black; text-decoration: none;">
                      <i class="fab fa-facebook-square fa-2x mx-2"></i>
                    </a>
                    <a href="https://instagram.com/pandemicvolunteers" target="_blank" style="color: black; text-decoration: none;">
                      <i class="fab fa-instagram fa-2x mx-2"></i>
                    </a>
                    <a href="https://medium.com/@PandemicVolntrs" target="_blank" style="color: black; text-decoration: none;">
                      <i class="fab fa-medium fa-2x mx-2"></i>
                    </a>
                    <a href="https://github.com/hantuzun/pandemic-volunteers/blob/master/README.md" target="_blank" style="color: black; text-decoration: none;">
                      <i class="fab fa-github fa-2x ml-2"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= render 'layouts/shared/notie' %>
  </body>
</html>
