<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163725354-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163725354-1');
    </script>
    <%= render 'layouts/shared/opengraph' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag "theme" %>
  </head>

  <body>
    <div class="d-flex w-100 h-100 mx-auto flex-column center-block">
      <header class="masthead bg-light py-2">
        <div class="cover-container m-auto">
          <div class="inner center-block">
            <h3 class="nav masthead-brand justify-content-center">
              <a href="/" class="nav-link text-dark link-no-underline <%= 'active' if current_page?(controller: 'home') %>">
                <%= inline_svg_tag "logo/logo.svg", size: '1.2em', class: 'mb-2' %>
                <%= t(".brand") %>
              </a>
            </h3>
            <nav class="nav nav-masthead pt-2 justify-content-center">
              <a class="nav-link red-link mr-3 <%= 'active' if current_page?(controller: 'hospitals') %>" href="/hospitals">
                <%= t(".hospitals_nav_link") %>
              </a>
              <a class="nav-link red-link mx-3 <%= 'active' if current_page?(controller: 'partners') %>" href="/partners">
                <%= t(".partners_nav_link") %>
              </a>
              <a class="nav-link red-link ml-3" href="https://www.notion.so/Pandemic-Volunteers-cf5a155708614c3fa77f00d93bdd02a1" target="_blank">
                <%= t(".faq_nav_link") %>
                </a>
            </nav>
          </div>
        </div>
      </header>

      <div class="d-none d-md-block py-5">
        <!-- Vertical spacing for md and larger screens -->
        <br>
      </div>

      <main role="main" class="inner">
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
          <%= yield %>
        </div>
      </main>

      <div class="d-none d-md-block py-3">
        <!-- Vertical spacing for md and larger screens -->
        <br>
      </div>

      <div class="mt-auto">
        <footer class="mt-5 bg-light p-4">
          <div class=" text-center">
            <div class="cover-container m-auto">
              <div class="row">
                <div class="col-md-8">
                  <div class="row my-2">
                    <p class="w-100 m-auto text-muted py-2">
                      <small>
                        <!-- Temporary notice, no need to translate -->
                        We need new contributors to work on HR, operations and more:
                        <strong>
                          <a class="text-dark" href="https://calendly.com/pandemic-volunteers/interview" target="_blank">
                            Apply Here
                          </a>
                        </strong>
                      </small>
                    </p>
                    <p class="w-100 m-auto mx-3 py-2">
                      <small>
                        <strong class="mr-4">
                          <%= link_to t("common.about"), about_path, class: 'text-dark' %>
                        </strong>
                        <strong>
                          <%= link_to t("common.terms"), terms_path, class: 'text-dark' %>
                        </strong>
                        <strong class="ml-4">
                          <%= link_to t("common.privacy"), privacy_path, class: 'text-dark' %>
                        </strong>
                      </small>
                    </p>
                  </div>
                </div>
                <div class="m-auto col-md-4 center-block">
                  <div class="row my-2 justify-content-center align-middle">
                    <p class="m-auto w-100">
                      <a href="https://twitter.com/PandemicVolntrs" target="_blank" class="text-dark link-no-underline">
                        <i class="fab fa-twitter fa-2x mr-2"></i>
                      </a>
                      <a href="https://facebook.com/PandemicVolunteers" target="_blank" class="text-dark link-no-underline">
                        <i class="fab fa-facebook-square fa-2x mx-2"></i>
                      </a>
                      <a href="https://instagram.com/pandemicvolunteers" target="_blank" class="text-dark link-no-underline">
                        <i class="fab fa-instagram fa-2x mx-2"></i>
                      </a>
                      <a href="https://medium.com/@PandemicVolntrs" target="_blank" class="text-dark link-no-underline">
                        <i class="fab fa-medium fa-2x mx-2"></i>
                      </a>
                      <a href="https://github.com/panvol/pandemic-volunteers/blob/master/README.md" target="_blank" class="text-dark link-no-underline">
                        <i class="fab fa-github fa-2x ml-2"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <%= render 'layouts/shared/notie' %>
  </body>
</html>
